@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");

body {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
  /* font-size: 20px; */
}

li{
	list-style-type: none;
}

.bg-custom-dark {
  background-color: var(--bs-gray-900);
  color: var(--bs-white);
}

.mt-big{
	margin-top: 200px;
}

.my-big{
	margin-top: 200px;
	margin-bottom: 200px;
}

.mt-200{
	margin-top: 200px;
}

.vh-75{
	height: 75vh;
}

.card{
	transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.timeline{
	display: block;
	position: relative;
	height: 1px;
	background-color: white;
	margin: 30px 0;;
}

.timeline::before{
	content:"";
	width: 24px;
	height: 24px;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: white;
	color: white;
	transform: translateY(-50%);
}

.timeline:not(.last)::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
  right: -100%;
  background-color: white;
}

.footer-link svg{
	color: var(--bs-white);
	transition: transform 0.3s ease;
}

.footer-link svg:hover {
	transform: scale(1.1);
}

.typewriter span {
  opacity: 0;
  display: inline-block;
  animation: typewriter 0.05s forwards;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 6)); /* trasla metà delle slide */
  }
}

.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider::before,
.slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  display: flex;
  width: calc(250px * 12); /* numero slide totali: 12 */
  animation: scroll 40s linear infinite; /* durata animazione (es. 40s) */
}

.slide {
  height: 100px;
  width: 250px;
}



@keyframes typewriter {
  from { opacity: 0 }
  to   { opacity: 1 }
}

[data-aos="bullet-anim"]::before {
  opacity: 0;
  transform: scale(0);
  transform: translateY(-50%);
  transition: all 0.5s ease;
}

[data-aos="bullet-anim"]{
	width: 0;
	transition: width 0.5s ease;
}

[data-aos="bullet-anim"].aos-animate {
  width: 100%;
}

[data-aos="bullet-anim"].aos-animate::before {
  opacity: 1;
  transform: scale(1), translateY(-50%);
}

@media (max-width:768px){

	.timeline::after{
		display: none;
	}

	.mt-big{
		margin-top:70px;
	}

	.my-big{
		margin-top:70px;
		margin-bottom: 35px;
	}

	.footer-link svg{
		width: 32px;
		height: 32px;
	}
}